<div class="divConfig">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Home</li>
        <li class="breadcrumb-item active" aria-current="page">Clients</li>
    </ol>
    <div class="container">
        <h3>Dossier Client</h3>
    </div>
</div>
<div class="text-center btn-margs">
    <button class="btn btn-primary" [routerLink]="['/add-client']">Ajouter un Client </button>
</div>
<div class="col-sm-12">

    <table class="table table table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">photo</th>
                <th scope="col">nom </th>
                <th scope="col">Prenom</th>
                <th scope="col">Status</th>
                <th scope="col">tele </th>
                <th scope="col">adresse</th>
                <th scope="col">ville</th>
                <th scope="col">Action </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let client of clients">

                <th>{{client.id}}</th>
                <th>

                    <img src="{{client.image}}" style="height: 60px;" alt="">
                </th>
                <td>{{client.nom}}</td>
                <td>{{client.prenom}}</td>
                <td>{{client.status}}</td>

                <td>{{client.tel}}</td>
                <td>{{client.adresse}}</td>
                <td>{{client.ville}}</td>


                <td>
                    <button (click)="deleteClient(client.id)" class='btn btn-sm btn-danger'>
                        <span class="badge badge-danger"></span><i class="fas fa-trash"></i>
                    </button> &nbsp;&nbsp;
                    <button class="btn btn-sm btn-success" [routerLink]="['/update-client', client.id]">
                        <span class="badge badge-success"></span><i class="fas fa-pencil-alt"></i> 
                    </button>
                </td>
            </tr>

        </tbody>
    </table>
</div>