<div class="divConfig">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Home</li>
        <li class="breadcrumb-item active" aria-current="page">utilisateurs</li>
    </ol>
    <div class="container">
        <h3>Dossier Utilisateur</h3>
    </div>
</div>
<div class="text-center btn-margs">
    <button class="btn btn-primary" [routerLink]="['/add-user']">Ajouter un utilisateur</button>
</div>
<div class="col-sm-12">
    <div class="row">
        <div class="col-md-6">
            <h3>LISTE DES UTILISATEURS</h3>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">identifiant</th>
                <th scope="col">photo</th>

                <th scope="col">email</th>
                <th scope="col">dateCreation</th>
                <th scope="col">dateFin</th>

                <th scope="col">Action</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{user.identifiant}}</td>

                <td> <img src="{{user.photo}}" style="height: 100px; width: 100px;" alt=""></td>
                <td>{{user.email}}</td>
                <td>{{user.dateCreation}}</td>
                <td>{{user.dateFin}}</td>




                <td>
                    <button (click)="deleteUser(user.id)" class='btn btn-sm btn-danger'>
                        <span class="badge badge-danger"></span><i class="fas fa-trash"></i>
                    </button>
                    <button class="btn btn-sm btn-success" [routerLink]="['/update-user', user.id]">
                        <span class="badge badge-success"></span><i class="fas fa-pencil-alt"></i> 
                    </button>
                </td>
            </tr>

        </tbody>
    </table>
</div>