<div class="divConfig">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">home</li>
        <li class="breadcrumb-item active" aria-current="page">utilisateurs</li>
    </ol>
    <div class="container">
        <h3>Dossier Utilisateur</h3>
    </div>
</div>








<form>
    <div class="form-row">
        <div class="form-group col-md-3">
            <label for="pv">  Photo</label>
            <img src="{{user.photo}}" style="height: 100px; width: 100px;" alt="">
            <input type="text" [(ngModel)]="user.photo" class="form-control" id="photo" name="photo" placeholder="photo">
        </div>
        <div class="form-group col-md-4">
            <label for="nc">Date de Creation</label>
            <input type="date" [(ngModel)]="user.dateCreation" class="form-control" id="dateCreation" name="dateCreation" placeholder="dateCreation">
        </div>
        <div class="form-group col-md-4">
            <label for="pb">Date fin</label>
            <input type="date" [(ngModel)]="user.dateFin" class="form-control" id="dateFin" name="dateFin" placeholder="dateFin">
        </div>


    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="">email</label>
            <input type="text" [(ngModel)]="user.email" class="form-control" id="email" name="email" placeholder="email">
        </div>
        <div class="form-group col-md-4">
            <label for="qi">identifiant</label>
            <input type="text" [(ngModel)]="user.identifiant" class="form-control" id="identifiant" name="identifiant" placeholder="identifiant">
        </div>


    </div>





    <div class="form-group">
        <div class="form-group">
            <button *ngIf="addOperation" (click)="addUser()" class="btn btn-primary">Ajouter </button>
            <button *ngIf="!addOperation" (click)="editUser()" class="btn btn-primary">Modifier </button>
        </div>
    </div>


</form>