<div class="divConfig">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Home</li>
        <li class="breadcrumb-item active" aria-current="page">Fournisseurs</li>
    </ol>
    <div class="container">
        <h3>Dossier Fournisseur</h3>
    </div>
</div>
<div class="text-center btn-margs">
    <button class="btn btn-primary" [routerLink]="['/add-fournisseur']">Ajouter fournisseur</button>
</div>
<div class="col-sm-12">

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">nom </th>
                <th scope="col">Nom court </th>
                <th scope="col">Ville </th>
                <th scope="col">Adresse</th>
                <th scope="col">Mail</th>
                <th scope="col">Action </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let fournisseur of fournisseurs">
                <th>{{fournisseur.id}}</th>
                <td>{{fournisseur.nom}}</td>
                <td>{{fournisseur.nomCourt}}</td>
                <td>{{fournisseur.adresse}}</td>
                <td>{{fournisseur.ville}}</td>
                <td>{{fournisseur.mail}}</td>



                <td>
                    <button (click)="deleteFournisseur(fournisseur.id)" class='btn btn-sm btn-danger'>
                        <span class="badge badge-danger"></span><i class="fas fa-trash"></i>
                    </button> &nbsp;&nbsp;
                    <button class="btn btn-sm btn-success" [routerLink]="['/update-fournisseur', fournisseur.id]">
                        <span class="badge badge-success"></span><i class="fas fa-pencil-alt"></i>
                    </button>
                </td>
            </tr>

        </tbody>
    </table>
</div>