<!-- Sidebar -->
<div id="sidebar-wrapper">
    <ul class="sidebar-nav fluid">
        <li>
            <a href="/produits"> <i class="fa fa-shopping-bag"></i> Gestion produits</a>
        </li>
        <li>
            <a href="/clients"> <i class="fa fa-fw fa-users"></i> &nbsp;&nbsp;&nbsp; Gestion des clients</a>
        </li>
        <li>
            <a href="/fournisseurs"><i class="fa fa-fw fa-user" ></i> &nbsp;&nbsp;&nbsp;Gestion des fournisseurs</a>
        </li>
        <li>
            <a href="/users"> <i class="fa fa-user-circle" aria-hidden="true"></i> Gestion des utilisateurs</a>
        </li>


    </ul>
</div>